/* Añadir "pista" (cuadrado con la letra S) a la barra de búsqueda */
[data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: block;
    padding: .1rem .4rem;
    color: inherit;
    font-size: .7rem;
    border: .05rem solid var(--md-default-bg-color--lighter);
    border-radius: .1rem;
    content: "S";
}

/* Centrar todas las imágenes */
img {
  display: block;
  margin: auto;
}